@import "../../vars.css";

.contact .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.contact .contacts ul {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.contact h1 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-top:100px ;
    margin-bottom:50px ;
    text-transform:uppercase;
}
.contact p {
    text-align: center;
    letter-spacing: 1px;
    font-size:29px ;
    font-weight: 400;
    margin-bottom: 22px;
}
.contact .links { 
    display: flex;
    flex-direction: column;
    margin-bottom: 309px;
    gap: 15px;
    justify-content: center;

}
.contact li {
    background-color:var(--color-dark);
    border-radius: 40px;
    margin-bottom: 10px;
    padding: 5px;
}
.contact li a {
    
    padding: 10px;
    background-color: var(--color-primary);
    border-radius: 50%;
    
    
}
.contact li span {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}
.contact li .icon{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.contact .line {
    max-width: 300px;
    height: 1px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact .inputs {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;


}
.contact .inputs  p{
    font-size: 19px;
    text-align: left;
    margin: 0;
    text-transform: capitalize;
    padding: 5px;
}
.contact .inputs input:not(:last-child) {
    height: 40px;
    border-radius: 2px;
    padding: 10px;
    border: none;
    color: black;
}
.contact .inputs input:focus {
    
    outline: 2px solid var(--color-primary);
}
.contact .inputs textarea {
    border-radius: 2px;
    min-height:90px ;
    padding: 10px;
    border: none;
    color: black;
}
.contact .inputs textarea:focus {
    border: none;
    outline: 2px solid var(--color-primary);
}
.contact .inputs :last-child {
    padding: 10px;
    background-color: var(--color-primary);
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 25px;
}
.contact .inputs input::placeholder {
    color: var(--color-primary);

}
.contact .inputs textarea::placeholder{
    color:var(--color-primary);
}

@media(min-width : 856px) {
    .contact .contacts {
        width: 100%; 
        display: flex;
        justify-content: center;
        
        gap: 60px;
        
    }
    .contact ul {
        width: calc(550px);
        margin-bottom: 100px;
    }
    .contact .line {
        width: 1px;
        height: 300px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .contact .inputs {
        min-width: 300px;
        width: calc(50% - 30px);
        
    }  
}